.dash-container{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: 2rem;
  
}
.template-container{
    display: flex;
}
.button-group{
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    margin: auto;
}
.content-feed{
    justify-content: start;
    min-height: 10rem;
    margin: .1rem;
    flex-wrap: nowrap;
    align-content: flex-start;
}
.user-templates{
    background-color: #c3b0FC;
    margin: 3rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-right: auto;
    height: auto;
    text-align: left;
    box-shadow: 10px 10px 22px -3px rgba(0,0,0,0.53);
}
.user-feed{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.user-categories{
    background-color: #c3b0FC;
    margin: 3rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-right: auto;
    height: auto;
    align-content: flex-start;
    text-align: left;
    box-shadow: 10px 10px 22px -3px rgba(0,0,0,0.53);
}
.modal-btn{
    color: rgb(255, 255, 255);
    
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Kufam';
    margin: auto;
    margin-top: 4rem;
    cursor: pointer;
    width: 15rem;
    background: #9767DA;
    border-radius: 1rem;
    
}
.modal-btn:hover{
    color: black;
    font-weight: bold;
    background: #C3B0FC;
    transform: translateY(3px);
    box-shadow: 10px 10px 22px -3px rgba(0,0,0,0.53);
}
form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    text-align: left;
}
h4{
    align-self: center;
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
}
