.App {
  text-align: center;
  margin-top: 0;
  min-height: 100vh;
}
* {
  margin-top: 0;
}
.left-block{
  position : fixed;
  padding-bottom: 40;
  width: 12%;
  align-self: flex-start;
  display: inherit;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(0deg, rgba(195, 176, 252, 0) 0%, #C3B0FC 66.47%);
  align-items: center;
  font-size: 22px;
  
}
.right-block{
  width: 30%;
  margin: auto;
  display: inherit;
  justify-content: right;
  position: relative;
  left: 30rem;
  top: 2rem;
}
#user{
  cursor: pointer;
}
h3{
  margin: 2rem;
}
h2{
  margin: 2rem;
}
header{
  width: 100%;
  background-color: #ffffff;
  height: 5rem;
  display: flex;
  flex-direction: row;
}
.center-image{
  display:flex;
  justify-content:center; /* horizontally center */
  align-items:center;    /* vertically center */
 
 
}

body {
  
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.h5{

  color: green;
  font-weight: 700;
  font-size: 28px;
  line-height: 29px;
  /* identical to box height */
  text-align: center;


}


