#title{
    font-size: 5rem;
    margin-bottom: 3rem;
    margin-top: 5rem;
}
#splash-text{
    width: 35rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    font-size: 1.25rem;
}
.links{
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 80%;
}
.container{
    background-color: white;
    width: 80vw;
    margin: auto;
    margin-top: 3rem;
    padding: 2rem;
    display: flex;
}
.main-content{
    width: 60%;
    min-height: 60vh;
    background-color: white;
}
.img-placeholder{
    position: absolute;
width: 880px;
height: 480px;
left: 915px;
top: 222px;
text-align: left;
background: #D9D9D9;
}
.placeholder{
    margin: auto;
}
.styled-link{
 
    color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 500px;
    
    background: #D9D9D9;
    border-radius: 20px;

}
.styled-link:visited{
    color: black;
}
.styled-link:hover{
    background-color: #acb4f1;
}